<ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" class = "carouselimages">
          </div>
          <div class="carousel-caption">
            <a href="http://whole-stop.surge.sh/" target="_blank"><h3>Game Of Life</h3></a>
            <p>Implémentation de l'automate celullaire Game Of Life avec Angular 2</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" class = "carouselimages">
          </div>
          <div class="carousel-caption">
            <a href="http://harsh-reaction.surge.sh/" target="_blank"><h3>Tranches de Mars</h3></a>
            <p>Projet Angular 2 qui a recourt a 3 webservices afin d'afficher la météo sur Mars, les dernières photographies de la sonde Curiosity ainsi que l'image astronomique du jour</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" class = "carouselimages">
          </div>
          <div class="carousel-caption">
            <a href="http://befitting-zipper.surge.sh/" target="_blank"><h3>Dungeons and Dragons Companion</h3></a>
            <p>Companion webApp pour le jeu de rôle Donjons et Dragons conçu avec React</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[3]" alt="Random third slide" class = "carouselimages">
          </div>
          <div class="carousel-caption">
            <a href="https://play.google.com/store/apps/details?id=org.nativescript.helloworld" target="_blank"><h3>Asteroids Report</h3></a>
            <p>Application Android NativeScript qui liste les astéroides proches de la terre et signale ceux présentant un risque de collision</p>
          </div>
        </ng-template>
      </ngb-carousel>
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Romain Barry 2019</p>
        </div>
        <!-- /.container -->
      </footer>
