<!--<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" (click) = myFunc(this.email,this.password)>Submit</button>
  </form>-->

<!-- Page Content -->
<div class="container">

  <div class="row">
    <ng-template #content let-modal>
      <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">Nouvel article</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body newArticle">
        <form>
          <div class="form-group">
            <label for="image">Image</label>
            <input class="form-control" aria-label="image" [(ngModel)]="image" [ngModelOptions]="{standalone: true}"
              placeholder="Entrez l'adresse de votre image d'illustration">
            <label for="dateOfBirth">Titre</label>
            <div class="input-group ">
              <input class="form-control" aria-label="title" [(ngModel)]="titre" [ngModelOptions]="{standalone: true}">
            </div>
            <label for="dateOfBirth">Article</label>
            <div class="input-group newBody">
              <ckeditor [editor]="Editor" [(ngModel)]="actualArticle" [ngModelOptions]="{standalone: true}"
                class="textEditor"></ckeditor>

            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"
          (click)="newArticle(titre,actualArticle,this.keepconnectionService.authToken, model, image);modal.dismiss('Cross click')">Save</button>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="tech" [(ngModel)]="model" [ngModelOptions]="{standalone: true}"> Tech
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="nouvelle" [(ngModel)]="model" [ngModelOptions]="{standalone: true}">
            Nouvelle
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="fanfiction" [(ngModel)]="model" [ngModelOptions]="{standalone: true}">
            Fanfiction
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="poesie" [(ngModel)]="model" [ngModelOptions]="{standalone: true}">
            Poesie
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="chronique" [(ngModel)]="model" [ngModelOptions]="{standalone: true}">
            Chronique
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="gestation" [(ngModel)]="model" [ngModelOptions]="{standalone: true}">
            Gestation
          </label>
        </div>
      </div>
    </ng-template>
    <ng-template #deletecontent let-modal>
      <div>
        <div class="modal-header ">
          <h4 class="modal-title" id="modal-basic-title">Etes vous sur de vouloir supprimer cette article ?</h4>
        </div>
        <button type="button" class="btn btn-outline-dark"
          (click)="deleteArticle(this.idCurrent,this.keepconnectionService.authToken);modal.dismiss('cross click')">oui</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">non</button>
      </div>
    </ng-template>
    <ng-template #updatecontent let-modal>
      <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">Editer article</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body newArticle">
        <form>
          <div class="form-group">
            <label for="dateOfBirth">Titre</label>
            <div class="input-group ">
              <input class="form-control" aria-label="title" [(ngModel)]="titleEdit"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div class="input-group newBody">
              <label for="dateOfBirth">Article</label>
              <ckeditor [editor]="Editor" [(ngModel)]="articleEdit" [ngModelOptions]="{standalone: true}"
                class="textEditor"></ckeditor>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"
          (click)="updateArticle(this.titleEdit,this.articleEdit,this.keepconnectionService.authToken, this.idCurrent);modal.dismiss('Cross click')">Save</button>
      </div>
    </ng-template>
    <ng-template #newContent let-modal>
      <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">Nouveau commentaire</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body newArticle">
        <form>
          <div class="form-group">
            <label for="dateOfBirth">auteur</label>
            <div class="input-group ">
              <input class="form-control" aria-label="auteur" [(ngModel)]="author"
                [ngModelOptions]="{standalone: true}">
            </div>
            <label for="dateOfBirth">commentaire</label>
            <div class="input-group newBody">
              <ckeditor [editor]="Editor" value="" [(ngModel)]="actualComment" [ngModelOptions]="{standalone: true}"
                class="textEditor"></ckeditor>

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"
          (click)="newComment(this.articleTitle,author,actualComment,this.keepconnectionService.authToken);modal.dismiss('Cross click')">envoyer</button>
      </div>
    </ng-template>



    <hr>



    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4">Oniromancie
        <small>tech vintage, fanfictions, chroniques....</small>
      </h1>

      <!-- Blog Post -->
      <div *ngFor="let article of pageOfItems">
        <div class="card mb-4">
          <img class="card-img-top articleImage" [src]="article.articlesImage" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{article.articlesName}}</h2>
            <p class="card-text" [innerHTML]="article.articlesBody">{{article.articlesBody}}</p>
            <button *ngIf="keepconnectionService.authRole != null && keepconnectionService.activatedAccount == true"
              href="#" class="btn btn-outline-dark" (click)="openComment(newContent, article.articlesName)">ajouter un
              commentaire</button>
            <button *ngIf="keepconnectionService.authRole == 'admin' && keepconnectionService.activatedAccount == true"
              href="#" class="btn btn-outline-dark"
              (click)="openUpdate(updatecontent);defineArticleUpdate(article.articlesName, article.articlesBody,article.articlesId)">editer
              article</button>
            <button *ngIf="keepconnectionService.authRole == 'admin' && keepconnectionService.activatedAccount == true"
              href="#" class="btn btn-outline-dark" (click)="confirmDelete(deletecontent,article.articlesId)">supprimer
              article</button>
          </div>
          <div class="card-footer text-muted">
            {{article.articlesDate | date : 'd MMM y'}}
          </div>
          <div class="row">
            <div class="col-12 commentaires">
              <div *ngFor="let comment of comments">
                <div *ngIf="article.articlesId == comment.comments_articles" class="card card-white post">
                  <div class="post-heading">
                    <div class="float-left meta">
                      <div class="title h5">
                        <a href="#"><b [innerHTML]="comment.comments_author"></b></a>

                      </div>
                    </div>
                  </div>
                  <div class="post-description">
                    <p [innerHTML]="comment.comments_body"></p>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <!-- Pagination -->
      <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->


      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <button type="button" class="btn btn-outline-dark"
                    (click)="articleFilter('fanfiction')">fanfictions</button>
                </li>
                <li>
                  <button type="button" class="btn btn-outline-dark" (click)="articleFilter('tech')">tech</button>
                </li>
                <li>
                  <button type="button" class="btn btn-outline-dark" (click)="articleFilter('poesie')">poésies</button>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <button type="button" class="btn btn-outline-dark"
                    (click)="articleFilter('nouvelle')">nouvelles</button>
                </li>
                <li>
                  <button type="button" class="btn btn-outline-dark"
                    (click)="articleFilter('gestation')">gestation</button>
                </li>
                <li>
                  <button type="button" class="btn btn-outline-dark"
                    (click)="articleFilter('chronique')">chroniques</button>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Side Widget -->
      <button *ngIf="keepconnectionService.authRole=='admin' && keepconnectionService.activatedAccount == true"
        class="btn btn-lg btn-outline-primary" (click)="open(content)">Nouvel article</button>
      <div class="card my-4">
        <div *ngIf="alert" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
        <h5 class="card-header">Connexion</h5>
        <div class="card-body">
          <div *ngIf="keepconnectionService.connexion == 0">
            <button type="button" class="btn btn-outline-dark btn-lg" (click)=loginShow()>Connexion</button>
            <button type="button" class="btn btn-outline-dark btn-lg" (click)=registerShow()>Inscription</button>
          </div>
          <form *ngIf="keepconnectionService.connexion == 2"
            (ngSubmit)="register(this.email,this.password);registerForm.reset()" #registerForm="ngForm"
            ngNativeValidate>
            <div class="form-group">
              <label for="exampleInputEmail1">Adresse email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                [(ngModel)]="email" [ngModelOptions]="{standalone: true}" #emailValid="ngModel" required email>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mot de passe</label>
            </div>

            <input type="password" class="form-control" id="Password1"
              pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$" #uname="ngModel"
              [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>

            <small>le mot de passe doit faire 8 caractères minimum, comporter une majuscule, une minuscule et un
              caractère special</small>
            <button type="submit" class="btn btn-outline-dark">register</button>
          </form>
          <form *ngIf="keepconnectionService.connexion == 1"
            (ngSubmit)="login(keepconnectionService.email,this.password);loginForm.reset()" #loginForm="ngForm"
            ngNativeValidate>
            <div class="form-group">
              <label for="exampleInputEmail1">Adresse email</label>
              <div *ngIf="wrongEmail == true">email inexistant</div>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                [(ngModel)]="keepconnectionService.email" [ngModelOptions]="{standalone: true}" required email>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mot de passe</label>
              <div *ngIf="wrongPassword == true ">Mot de passe erroné</div>
              <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password"
                [ngModelOptions]="{standalone: true}"
                pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$" required>
            </div>
            <button type="submit" class="btn btn-outline-dark">Connexion</button>
          </form>
          <form *ngIf="keepconnectionService.connexion == 3">
            <div class="form-group">

              {{keepconnectionService.email}}
              <button *ngIf="keepconnectionService.authRole != null && keepconnectionService.activatedAccount == true"
                type="button" class="btn btn-outline-dark" (click)="disconnect()">deconnexion</button>
            </div>
            <div [hidden]="this.keepconnectionService.activatedAccount == true">
              votre compte n'est pas encore activé
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Romain Barry 2019</p>
  </div>
  <!-- /.container -->
</footer>